# Ignora carpetas innecesarias
node_modules
.expo
.expo-shared
.git
.idea
.vscode

# Archivos y carpetas de caché
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Archivos multimedia pesados
*.zip
*.rar
